<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GL_M2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
	<connectionStrings>
		<add name="Default" connectionString="database/data.db;Version=3;" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <userSettings>
    <GL_M2.Properties.Settings>
      <setting name="point_color" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="current_point_color" serializeAs="String">
        <value>Green</value>
      </setting>
      <setting name="new_point_color" serializeAs="String">
        <value>Yellow</value>
      </setting>
      <setting name="config_percent" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="color_ok" serializeAs="String">
        <value>Green</value>
      </setting>
      <setting name="color_ng" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="circle_radius" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="triangle_length" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="toggle_time" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="time_process" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="percent_check" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="medianBlur" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="isMedianBlur" serializeAs="String">
        <value>False</value>
      </setting>
    </GL_M2.Properties.Settings>
  </userSettings>
</configuration>